*{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
table{
    width:80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
}
th, td{
    border: 2px solid black;
    border-style: double;
    padding: 10px;
    text-align: center;
}

.project{
    font-weight: bold;
    
}
td[colspan="2"]{
    font-size: 18px;
}