body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*to make boxes*/
    gap: 10px; /*individual box ko gap maintain garne*/
    background: #dfe6e9;
    padding: 15px;
    border-radius: 1px;   /*side ko edges curve banauna more px*/
}

.box {
    background-color: #ffffff;
    padding: 20px;  /*side ko edges curve banauna more px*/
    text-align: center;
    margin: 5px;
}
span {
    text-align: left; /* list lai bullet sangai align garna kolagi.*/
}